@tailwind base;
@tailwind components;
@tailwind utilities;

.wave-group .label-char {
    transition: 0.2s ease all;
    transition-delay: calc(var(--index) * 0.05s);
  }
  
  .wave-group .input:focus ~ .label .label-char,
  .wave-group .input:valid ~ .label .label-char {
    transform: translateY(-20px);
    font-size: 14px;
    color: #5264AE;
  }
  
  /* Pada global CSS (misalnya style.css atau App.css) */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; /* Mencegah scroll horizontal */
  }
  
  #root {
    width: 100%;
    overflow-x: hidden; /* Juga bisa ditambahkan pada #root */
  }
  
 
  @media (max-width: 768px) {
    .custom-background {
      background-image: none;
    }
  }
  